
img:hover {
    background-color: yellow;
}

button {
    background-color: lightblue;
    border-color: lightblue;
    box-shadow: 0px, 0px, 0px, transparent;
    border-style: solid;
}


body {
    background-color: lightblue;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4 {
    font-family:'Courier New', Courier, monospace;
}

#userChoice {
    width: 550px;
    height: 550px;
}